<div class="container-fluid" id="container-height">
  <app-menu></app-menu>
  <div class="row mt-2 ml-2 mr-2 mx-auto ">
    <div class="col-sm-12">
      <div class="row mb-4 text-center">
        <div class="col-lg-3 col-sm-3 col-12  my-auto ">
          <h2 class="float-lg-left">Médicos</h2>
        </div>

        <div class="col-lg-6 col-sm-6 col-12 my-auto py-2">
          <!-- <input type="text" name="" value="" placeholder="Nombre o CI del Medico" class="form-control"> -->
          <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1 " type="text" placeholder="Nombre o CI del medico" aria-label="Search" />
            <div class="input-group-append">
              <span class="input-group-text bg-primary" id="basic-text1"><i class="fas fa-search text-white" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-12 my-auto py-2 ">
          <a   routerLink="/newmedic" class="btn btn-outline-primary float-lg-right "><i class="fas fa-user-md"></i> Nuevo Medico</a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table table table-bordered text-center">
          <thead>
            <th>CI</th>
            <th>Nombre completo</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Operaciones</th>
          </thead>
          <tbody>
            <tr>
              <td>0123456789</td>
              <td>Doe</td>
              <td>Mary</td>
              <td>john@example.com</td>
              <td>0956869520</td>
              <td class="text-center">
                <button type="button" class="btn btn-warning mt-1">Modificar</button>
                <button type="button" class="btn btn-danger ml-2 mt-1">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
