<div class="container-fluid" id="container-height">
  <app-menu></app-menu>
  <div class="row mt-2 ml-2 mr-2 mx-auto ">
    <div class="col-sm-12">
      <div class="row mb-4 text-center">
        <div class="col-lg-3 col-sm-3 col-12  my-auto ">
          <h2 class="float-lg-left">Médicos</h2>
        </div>

        <div class="col-lg-6 col-sm-6 col-12 my-auto py-2">
          <!-- <input type="text" name="" value="" placeholder="Nombre o CI del Medico" class="form-control"> -->
          <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1 " type="text" placeholder="Nombre, Apellido o CI del Medico"
              aria-label="Search" #searchInput (keyup.enter)="search(searchInput.value)"
              (keydown.backspace)="reloadData(searchInput.value)" />
            <div class="input-group-append">
              <a class="input-group-text bg-primary" id="basic-text1"><i class="fas fa-search text-white"
                  aria-hidden="true" (click)="search(searchInput.value)"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-12 my-auto py-2 ">
          <a *ngIf="permiso" routerLink="../newmedic" class="btn btn-outline-primary float-lg-right "><i
              class="fas fa-user-md"></i> Nuevo Médico</a>
        </div>
      </div>
    </div>

    <div class="text-center col-sm-12" [ngClass]="{ 'd-none': isvisible }">
      <p class="text-danger">{{errLog}}</p>
    </div>

    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table  table-bordered text-center">
          <thead>
            <th>CI</th>
            <th>Nombre completo</th>
            <!--th>Dirección</th-->
            <th>Email</th>
            <th>Teléfono</th>
            <th>Operaciones</th>
          </thead>
          <tbody>

            <tr *ngFor="let medico of medicos">
              <td>{{medico.cedula}}</td>
              <td>{{medico.nombreUser+" "+medico.apellidoUser}}</td>
              <td>{{medico.email}}</td>
              <td>{{medico.phone}}</td>
              <!-- <td></td> -->
              <td>
                <a routerLink="/editmedic"><button type="button" class="btn btn-warning mt-1"
                    (click)="pasToUpdate(medico.cedula)">Modificar</button></a>
                <button type="button" class="btn btn-danger mt-1 ml-2" mwlConfirmationPopover
                  [popoverTitle]="'Eliminar'" [popoverMessage]="'Esta seguro de que desea eliminar al usuario?'"
                  (cancel)="true" (confirm)="deleteMedic(medico.cedula)">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>