<% include partials/_head %>
<div class="row mt-2 ml-2 mr-2 mx-auto">
	<div class="col-sm-12">
		<h1>Historico de Citas</h1>
<br>
			<table class="table table-bordered table-hover text-center">
			<thead>
        <tr>
			<th>Asunto</th>
			<th>Paciente</th>
			<th>Medico</th>
			<th>Fecha</th>
			<th>Operaciones</th>
    </tr>
			</thead>
      <tbody>
        <tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
				<a href="" class="btn btn-outline-warning btn-sm">Editar</a>
				<a href="" class="btn btn-outline-danger btn-sm">Eliminar</a>
				</td>
				</tr>
      </tbody>
    </table>

	</div>
</div>
<% include partials/_footer %>
