<div class="container-fluid"  id="container-height">
	<app-menu></app-menu>
	<div class="row mt-2 ml-2 mr-2 mx-auto">
		<div class="col-sm-12">
			<a href="./oldreservations" class="btn btn-outline-primary float-right">Citas Anteriores</a>
					<h1>Citas</h1>
		</div>
		<div class="col-sm-10 mx-auto mb-4">
			<form class="form-inline" action="#" method="post">
				<div class="input-group mb-3">
			    <div class="input-group-prepend">
			      <span class="input-group-text"><i class="fas fa-search"></i></span>
						 <input type="text" class="form-control mr-4" placeholder="Palabra clave">
						 <span class="input-group-text"><i class="fas fa-life-ring"></i></span>
	 						<select name="medic_id" class="form-control mr-4" value="Medico">
	 						<option value="" disabled selected >MEDICO</option>
	 						</select>
							<button type="submit" class="btn btn-outline-primary">Buscar</button>
			    </div>
			  </div>
			</form>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
	    <thead class="thead-dark text-center">
				<th>Asunto</th>
				<th>Paciente</th>
				<th>Medico</th>
				<th>Fecha</th>
				<th>Operaciones</th>
	    </thead>
	    <tbody class="text-center">
				<tr class="text-center">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="text-center mx-auto">
				<a href="#" class="btn btn-warning text-center mt-1">Editar</a>
				 <a href="#" class="btn btn-danger text-center ml-2 mt-1">Eliminar</a>
				</td>
				</tr>

	    </tbody>
	</table>
		</div>
	</div>
</div>
<app-footer></app-footer>
