<div class="container-fluid" id="container-height">
<app-menu></app-menu>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Perfil de Usuario</h1>
    </div>
  </div>

  <br>
  <br>

  <form>
    <div class="form-row">
      <div class="col-md-6 mb-4">
        <label>Nombre</label>
        <input type="text" value="{{nombre}}" disabled class="form-control" name="nombre" placeholder="Nombre" >
      </div>
      <div class="col-md-6 mb-4">
        <label >Apellidos</label>
        <input type="text" disabled value="{{apellido}}" class="form-control" name="apellido" placeholder="Apellidos">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-4">
        <label>CI</label>
        <input type="text" disabled value="{{cedula}}" class="form-control" name="CI" placeholder="CI" >
      </div>
      <div class="col-md-6 mb-4">
        <label >Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" >@</span>
          </div>
          <input type="email"  value="{{email}}" class="form-control" name="email" placeholder="Email" >
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-4">
        <label>*Contrase&ntilde;a</label>
        <input type="password"  value="{{contra}}" name="pasword" class="form-control" id="validationDefault04" placeholder="Contrase&ntilde;a">
      </div>
      <div class="col-md-6 mb-4">
        <label>Teléfono</label>
        <input type="text"  value="{{phone}}" class="form-control" name="phone" placeholder="Teléfono">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-4">
        <label >Rol</label>
        <input type="rol"  value="{{rol}}" name="rol" class="form-control" id="validationDefault20" placeholder="Rol">
      </div>
    </div>

    <br>
    <div class="form-row">
      <button class="btn btn-primary mx-auto d-flex justify-content-center" type="submit"  routerLink="/configuration">Actualizar información</button>
    </div>

  </form>

</div>

<app-footer></app-footer>





