<app-menu></app-menu>
<div>
  <div class="container">
    <div class="row profile">
      <div class="col-md-3">
        <div class="profile-sidebar">
          <div class="profile-userpic" align="center">
            <img src="https://static.change.org/profile-img/default-user-profile.svg" class="img-responsive" alt="middle">
          </div>
          <div class="profile-usertitle" align="center">
            <div class="profile-usertitle-name">
              <label>Nombre del usuario</label>
            </div>
            <div class="profile-usertitle-job" align="center">
              <label>Perfil de usuario</label>
            </div>
          </div>
          <div class="profile-userbuttons" align="center">
            <button type="button" class="btn btn-success btn-sm">Cambiar imagen</button>
          </div>

          <mat-expansion-panel>
            <mat-expansion-panel-header id="numero1">
              <mat-panel-title>
                <mat-icon class="material-icons">home</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                General
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header id="numero2">
              <mat-panel-title>
                <mat-icon class="material-icons">person</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                Configurar
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>
      </div>


      <div class="col-md-9" id="parainfo">
        <div class="example-container">
          <label>Nombres del Usuario</label>
          <mat-form-field>
            <input matInput placeholder="Nombres">
          </mat-form-field>



          <label>Apellidos del Usuario</label>
          <mat-form-field>
            <input matInput placeholder="Apellidos">
          </mat-form-field>




          <label>Email</label>
          <mat-form-field>
            <input matInput placeholder="Correo">
          </mat-form-field>





          <label>Teléfono</label>
          <mat-form-field>
            <input matInput placeholder="Teléfono">
          </mat-form-field>




          <label>Activo</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">isActive</mat-radio-button>
          </mat-radio-group>



          <label>Creado</label>
          <mat-form-field>
            <input matInput placeholder="Fecha">
          </mat-form-field>
        </div>
      </div>



      <div class="col-md-9" id="paraconfiguracion">
      <div class="example-container">
        <label>Nombres del Usuario</label>
        <mat-form-field>
          <input matInput placeholder="Nombres">
        </mat-form-field>

        <label>Apellidos del Usuario</label>
        <mat-form-field>
          <input matInput placeholder="Apellidos">
        </mat-form-field>

        <label>Email</label>
        <mat-form-field>
          <input matInput placeholder="Correo">
        </mat-form-field>

        <label>Teléfono</label>
        <mat-form-field>
          <input matInput placeholder="Teléfono">
        </mat-form-field>

        <label>Activo</label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">isActive</mat-radio-button>
        </mat-radio-group>

        <button id="botoncito" align="center" mat-raised-button >Guardar datos</button>

      </div>
    </div>



  </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>





