<app-menu></app-menu>
<div clas="container">
<div class="container-fluid mt-3 mx-auto" >
    <!-- primera fila odontograma -->
    <div class="col-md-12">
        <h1 class="text-center">Odontograma</h1>
    </div>
    <br>

    <!-- primera fila odontograma -->
    <div class="row">
        <div class="col-g ml-2">
            <div class="row ml-1 mr-1">
                <div class="col-odonto text-center card pb-2">
                    <label>18</label>
                    <img src="./assets/resources/img/imagen.png" id="18" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>17</label>
                    <img src="./assets/resources/img/imagen.png" id="17" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>16</label>
                    <img src="./assets/resources/img/imagen.png" id="16" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>15</label>
                    <img src="./assets/resources/img/imagen.png" id="15" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>14</label>
                    <img src="./assets/resources/img/imagen.png" id="14" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>13</label>
                    <img src="./assets/resources/img/imagen.png" id="13" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>12</label>
                    <img src="./assets/resources/img/imagen.png" id="12" class="img-thumbnail diente mx-auto" alt="Icono diente"  >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>11</label>
                    <img src="./assets/resources/img/imagen.png" id="11" class="img-thumbnail diente mx-auto" alt="Icono diente"  >
                </div>
            </div>
        </div>
        <div class="col-g odo-d">
            <div class="row mx-1">
                <div class="col-odonto text-center card pb-2">
                    <label>21</label>
                    <img src="./assets/resources/img/imagen.png" id="21" class="img-thumbnail diente mx-auto" alt="Icono diente"  >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>22</label>
                    <img src="./assets/resources/img/imagen.png" id="22" class="img-thumbnail diente mx-auto" alt="Icono diente"  >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>23</label>
                    <img src="./assets/resources/img/imagen.png" id="23" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>24</label>
                    <img src="./assets/resources/img/imagen.png" id="24" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>25</label>
                    <img src="./assets/resources/img/imagen.png" id="25" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>26</label>
                    <img src="./assets/resources/img/imagen.png" id="26" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>27</label>
                    <img src="./assets/resources/img/imagen.png" id="27" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>28</label>
                    <img src="./assets/resources/img/imagen.png" id="28" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
            </div>
        </div>
    </div>
    <!-- segunda fila odontograma -->
    <div class="row mt-2">
        <div class="col-g ml-2">
            <div class="row ml-1 mr-1">
                <div class="col-odonto text-center card pb-2">
                    <label>48</label>
                    <img src="./assets/resources/img/imagen.png" id="48" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>47</label>
                    <img src="./assets/resources/img/imagen.png" id="47" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>46</label>
                    <img src="./assets/resources/img/imagen.png" id="46" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>45</label>
                    <img src="./assets/resources/img/imagen.png" id="45" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>44</label>
                    <img src="./assets/resources/img/imagen.png" id="44" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>43</label>
                    <img src="./assets/resources/img/imagen.png" id="43" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>42</label>
                    <img src="./assets/resources/img/imagen.png" id="42" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>41</label>
                    <img src="./assets/resources/img/imagen.png" id="41" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
            </div>
        </div>
        <div class="col-g odo-d">
            <div class="row mx-1">
                <div class="col-odonto text-center card pb-2">
                    <label>31</label>
                    <img src="./assets/resources/img/imagen.png" id="31" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>32</label>
                    <img src="./assets/resources/img/imagen.png" id="32" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>33</label>
                    <img src="./assets/resources/img/imagen.png" id="33" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>34</label>
                    <img src="./assets/resources/img/imagen.png" id="34" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>35</label>
                    <img src="./assets/resources/img/imagen.png" id="35" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>36</label>
                    <img src="./assets/resources/img/imagen.png" id="36" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>37</label>
                    <img src="./assets/resources/img/imagen.png" id="37" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>38</label>
                    <img src="./assets/resources/img/imagen.png" id="38" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
            </div>
        </div>
    </div>
    <!-- tercera fila odontograma -->
    <div class="row  mt-2">
        <!-- izquierda -->
        <div class="col-g">
            <div class="row ml-1 mr-1 justify-content-end">
                <div class="col-odonto text-center card pb-2">
                    <label>55</label>
                    <img src="./assets/resources/img/imagen.png" id="55" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>54</label>
                    <img src="./assets/resources/img/imagen.png" id="54" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>53</label>
                    <img src="./assets/resources/img/imagen.png" id="53" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>52</label>
                    <img src="./assets/resources/img/imagen.png" id="52" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>51</label>
                    <img src="./assets/resources/img/imagen.png" id="51" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
            </div>
        </div>
        <!-- derecha -->
        <div class="col-g odo-d">
            <div class="row ml-1 mr-1">
                <div class="col-odonto text-center card pb-2">
                    <label>61</label>
                    <img src="./assets/resources/img/imagen.png" id="61" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>62</label>
                    <img src="./assets/resources/img/imagen.png" id="62" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>63</label>
                    <img src="./assets/resources/img/imagen.png" id="63" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>64</label>
                    <img src="./assets/resources/img/imagen.png" id="64" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>65</label>
                    <img src="./assets/resources/img/imagen.png" id="65" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
            </div>
        </div>
    </div>
    <!-- cuarta fila odontograma -->
    <div class="row  mt-2">
        <!-- izquierda -->
        <div class="col-g">
            <div class="row ml-1 mr-1 justify-content-end">
                <div class="col-odonto text-center card pb-2">
                    <label>85</label>
                    <img src="./assets/resources/img/imagen.png" id="85" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>84</label>
                    <img src="./assets/resources/img/imagen.png" id="84" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>83</label>
                    <img src="./assets/resources/img/imagen.png" id="83" class="img-thumbnail diente mx-auto" alt="Icono diente">
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>82</label>
                    <img src="./assets/resources/img/imagen.png" id="82" class="img-thumbnail diente mx-auto" alt="Icono diente">
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>81</label>
                    <img src="./assets/resources/img/imagen.png" id="81" class="img-thumbnail diente mx-auto" alt="Icono diente">
                </div>
            </div>
        </div>
        <!-- derecha -->
        <div class="col-g odo-d">
            <div class="row ml-1 mr-1">
                <div class="col-odonto text-center card pb-2">
                    <label>71</label>
                    <img src="./assets/resources/img/imagen.png" id="71" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>72</label>
                    <img src="./assets/resources/img/imagen.png" id="72" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>73</label>
                    <img src="./assets/resources/img/imagen.png" id="73" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>74</label>
                    <img src="./assets/resources/img/imagen.png" id="74" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
                <div class="col-odonto text-center card pb-2">
                    <label>75</label>
                    <img src="./assets/resources/img/imagen.png" id="75" class="img-thumbnail diente mx-auto" alt="Icono diente" >
                </div>
    </div>

</div>
<br>
<div id="modaltratamiento" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
          <span class="w3-button w3-display-topright">&times;</span>
          <p id="numeroDienteparrafo">Some text. Some text. Some text.</p>
        </div>
    </div>
</div>

</div>


<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
<router-outlet></router-outlet>
