<div class="container-fluid" id="container-height">
	<app-menu></app-menu>
	<div class="row ml-1 mr-1 ">
		<div class="col-sm-12">
			<h1 class="text-center" id="datos">Histórico de exámenes</h1>
		</div>
		<div class="col-sm-12 ">
			<!-- <div class="input-group md-form form-sm form-2 pl-0">
			<input class="form-control my-0 py-1 " type="text" name = "searchText"  placeholder="Ingrese Nombre o CI del Paciente" aria-label="Search" [(ngModel)]="searchText">
			<div class="input-group-append">
				<span class="input-group-text bg-primary" id="basic-text1"><i class="fas fa-search text-white" aria-hidden="true"></i></span>
			</div>
		</div> -->

			<form [formGroup]="searchform">
				<div class="form-container">
					<mat-form-field appearance="outline">
						<mat-label>Paciente (Cedula)*</mat-label>
						<mat-select [(ngModel)]="selectPaciente" formControlName="paciente_select" [disabled]="cedulaX!=undefined" >
							<mat-option>
								<ngx-mat-select-search [placeholderLabel]="'Nombre, Apellido o CI del Paciente'"
									formControlName="paciente_search"
									[noEntriesFoundLabel]="'No hay pacientes que coincidan'">
								</ngx-mat-select-search>
							</mat-option>
							<mat-option *ngFor="let paciente of filtroPacientes()" [value]="paciente.cedula">
								{{ paciente.nombre+" "+paciente.apellido+" ("+paciente.cedula+")" }}
							</mat-option>
						</mat-select>
						<button mat-icon-button matSuffix  aria-label="Clear" [hidden]="cedulaX!=undefined" (click)="$event.stopPropagation(); search(); ">
								<mat-icon> search </mat-icon>
							</button>
					</mat-form-field>
					<!-- <span class="input-group-text bg-primary" id="basic-text1"><i class="fas fa-search text-white"
							aria-hidden="true"></i></span> -->

					


				</div>
			</form>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row text-center">
			<div class=" col-sm-12 mb-1" [ngClass]="{ 'd-none': isvisible }">
				<p class="text-danger">{{errLog}}</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table table-bordered table-hover text-center">
				<thead>
					<tr>
						<!-- <th> Id </th> -->
						<th> CI </th>
						<th> Nombre</th>
						<th> Fecha </th>
						<!-- <th> Tipo de examen </th> -->
						<th> Imagen </th>
						<th colspan="3"> Operaciones </th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr *ngFor = "let examen of examenes | filterExam:searchText "> -->
					<tr *ngFor="let examen of exams ">
						<!-- <td> {{examen.id}} </td> -->
						<td>{{examen.cedula}} </td>
						<td> {{examen.paciente}} </td>
						<td>{{examen.fecha.split("T")[0]}} </td>
						<!-- <td>{{examen.tipo_exa}} </td> -->
						<td> <img height="70" src="{{examen.imageURL}}" /> </td>
						<th><a class="btn btn-warning btn-xs" routerLink="/edit-exa/{{examen._id}}"> Modificar </a> </th>
						<th><button type="button" class="btn btn-danger mt-1 ml-2" mwlConfirmationPopover  [popoverTitle]="'Eliminar'"
						[popoverMessage]="'Esta seguro de que desea eliminar el Examen de forma permanente?'"  (cancel)="true" (confirm)="deleteExam(examen._id)">Eliminar</button></th>
						<th><a target="_blank" class="btn btn-success btn-xs" routerLink="/ver-examen/{{examen._id}}" > Ver </a> </th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<app-footer></app-footer>