<app-menu></app-menu>
<div class="row ml-1 mr-1">
        <div class="col-sm-12">
            <h1 id="datos">Histórico de exámenes del paciente</h1>
        </div>
        <div class="col-sm-12">
            
                <form method="post" class="form-horizontal">
                <input type="text" name="cedula" placeholder="CI......" required class="form-control"><br>
                    <input type="submit" value="Buscar" class="btn btn-primary">
                </form><br>
            
        </div>
        <div class="table-responsive">
            
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th> Id </th>
                            <th> CI </th>
                            <th> Nombre</th>
                            <th> Fecha </th>
                            <th> Tipo de examen </th>
                            <th> Imagen </th>
                            <th colspan="3"> Operaciones  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> <img height="70" src="" /> </td>
                            <th><a class="btn btn-warning btn-xs" href=""> Modificar </a> </th>
                            <th><a class="btn btn-danger btn-xs" href=""> Eliminar </a> </th>
                            <th><a target="_blank" class="btn btn-success btn-xs" href=""> Ver </a> </th>
                        </tr>
                    </tbody>
                </table>
            
        </div>
    </div>
    <app-footer></app-footer>
    <router-outlet></router-outlet>