<app-menu></app-menu>
<div class="container-fluid mt-3 mx-auto">

  <!-- primera fila odontograma -->
  <div class="col-md-12">
      <h1 class="text-center">Odontograma</h1>
  </div>
  <br>

  <div class="row">
    <div class="col-g ml-2">
      <div class="row ml-1 mr-1">
        <div class="col-odonto text-center card pb-2" id="18" (click) = "updateDataForm(18)">
          <label>18</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="17" (click) = "updateDataForm(17)">
          <label>17</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="16" (click) = "updateDataForm(16)">
          <label>16</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="15" (click) = "updateDataForm(15)">
          <label>15</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="14" (click) = "updateDataForm(14)">
          <label>14</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="13" (click) = "updateDataForm(13)">
          <label>13</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="12" (click) = "updateDataForm(12)">
          <label>12</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="11" (click) = "updateDataForm(11)">
          <label>11</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
      </div>
    </div>
    <div class="col-g odo-d">
      <div class="row mx-1">
        <div class="col-odonto text-center card pb-2" id="21" (click) = "updateDataForm(21)">
          <label>21</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="22" (click) = "updateDataForm(22)">
          <label>22</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="23" (click) = "updateDataForm(23)">
          <label>23</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="24" (click) = "updateDataForm(24)">
          <label>24</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="25" (click) = "updateDataForm(25)">
          <label>25</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="26" (click) = "updateDataForm(26)">
          <label>26</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="27" (click) = "updateDataForm(27)">
          <label>27</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="28" (click) = "updateDataForm(28)">
          <label>28</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
      </div>
    </div>
  </div>
  <!-- segunda fila odontograma -->
  <div class="row mt-2">
    <div class="col-g ml-2">
      <div class="row ml-1 mr-1">
        <div class="col-odonto text-center card pb-2" id="48" (click) = "updateDataForm(48)">
          <label>48</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="47" (click) = "updateDataForm(47)">
          <label>47</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="46" (click) = "updateDataForm(46)">
          <label>46</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="45" (click) = "updateDataForm(45)">
          <label>45</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="44" (click) = "updateDataForm(44)">
          <label>44</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="43" (click) = "updateDataForm(43)">
          <label>43</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="42" (click) = "updateDataForm(42)">
          <label>42</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="41" (click) = "updateDataForm(41)">
          <label>41</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
      </div>
    </div>
    <div class="col-g odo-d">
      <div class="row mx-1">
        <div class="col-odonto text-center card pb-2" id="31" (click) = "updateDataForm(31)">
          <label>31</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="32" (click) = "updateDataForm(32)">
          <label>32</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="33" (click) = "updateDataForm(33)">
          <label>33</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="34" (click) = "updateDataForm(34)">
          <label>34</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="35" (click) = "updateDataForm(35)">
          <label>35</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="36" (click) = "updateDataForm(36)">
          <label>36</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="37" (click) = "updateDataForm(37)">
          <label>37</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="38" (click) = "updateDataForm(38)">
          <label>38</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
      </div>
    </div>
  </div>
  <!-- tercera fila odontograma -->
  <div class="row  mt-2">
    <!-- izquierda -->
    <div class="col-g">
      <div class="row ml-1 mr-1 justify-content-end">
        <div class="col-odonto text-center card pb-2" id="55" (click) = "updateDataForm(55)">
          <label>55</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="54" (click) = "updateDataForm(54)">
          <label>54</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="53" (click) = "updateDataForm(53)">
          <label>53</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="52" (click) = "updateDataForm(52)">
          <label>52</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="51" (click) = "updateDataForm(51)">
          <label>51</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
      </div>
    </div>
    <!-- derecha -->
    <div class="col-g odo-d">
      <div class="row ml-1 mr-1">
        <div class="col-odonto text-center card pb-2" id="61" (click) = "updateDataForm(61)">
          <label>61</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="62" (click) = "updateDataForm(62)">
          <label>62</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="63" (click) = "updateDataForm(63)">
          <label>63</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="64" (click) = "updateDataForm(64)">
          <label>64</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="65" (click) = "updateDataForm(65)">
          <label>65</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
      </div>
    </div>
  </div>
  <!-- cuarta fila odontograma -->
  <div class="row  mt-2">
    <!-- izquierda -->
    <div class="col-g">
      <div class="row ml-1 mr-1 justify-content-end">
        <div class="col-odonto text-center card pb-2" id="85" (click) = "updateDataForm(85)">
          <label>85</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="84" (click) = "updateDataForm(84)">
          <label>84</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="83" (click) = "updateDataForm(83)">
          <label>83</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="82" (click) = "updateDataForm(82)">
          <label>82</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="81" (click) = "updateDataForm(81)">
          <label>81</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
      </div>
    </div>
    <!-- derecha -->
    <div class="col-g odo-d">
      <div class="row ml-1 mr-1">
        <div class="col-odonto text-center card pb-2" id="71" (click) = "updateDataForm(71)">
          <label>71</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="72" (click) = "updateDataForm(72)">
          <label>72</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="73" (click) = "updateDataForm(73)">
          <label>73</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="74" (click) = "updateDataForm(74)">
          <label>74</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
        <div class="col-odonto text-center card pb-2" id="75" (click) = "updateDataForm(75)">
          <label>75</label>
          <img src="./assets/resources/img/imagen.png" class="img-thumbnail diente mx-auto" alt="Icono diente">
        </div>
      </div>
    </div>
  </div>
  <!-- datos del diente -->
  <div class="row mt-3 mx-auto">
    <div class="col-md-11 mx-auto">
      <form method="post" class="text-center">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Pieza:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="entrada" readonly>
          </div>
        </div>

          <div class="custom-control custom-checkbox mb-3 custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="customCheck1" (click) ="setBandera()"> 
              <label class="custom-control-label" for="customCheck1" >Carie/Restauración</label>
          </div>
          <div class="col-md-12" id="id2" style="background-color: #F5F5F5; border-radius: 20px 20px 20px 20px;" >
            <div class="" style="text-align: center;">
              <label class="radio-inline"><input type="radio" name="optradio" checked value="Carie"> Carie </label>
              <label class="radio-inline ml-3"><input type="radio" name="optradio" value="Restauracion"> Restauración </label>
            </div>
            <div class="" style="text-align: center;">
            <div class="custom-control custom-checkbox mb-3 custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="customCheck">
              <label class="custom-control-label" for="customCheck">O</label>
            </div>
            <div class="custom-control custom-checkbox mb-3 custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="customCheck9">
              <label class="custom-control-label" for="customCheck9">L</label>
            </div>
            <div class="custom-control custom-checkbox mb-3 custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">D</label>
            </div>
            <div class="custom-control custom-checkbox mb-3 custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="customCheck3">
              <label class="custom-control-label" for="customCheck3">P</label>
            </div>
            <div class="custom-control custom-checkbox mb-3 custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="customCheck4">
              <label class="custom-control-label" for="customCheck4">M</label>
            </div>
            <div class="custom-control custom-checkbox mb-3 custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="customCheck5">
              <label class="custom-control-label" for="customCheck5">V</label>
            </div>
            </div>


        </div>
        <div class="form-group row" id="id1" style="display: none;">
          <!--label class="col-sm-2 col-form-label">Otros:</label-->
          <div class="col-sm-12">
            <select name="cars" class="custom-select">
              <option selected disabled>Tratamientos</option>
              <option>CORONA</option>
              <option>ENDODONCIA</option>
              <option>EXTRACCIÓN</option>
              <option>EXTRACCIÓN INDICADA</option>
              <option>PRÓTESIS ROMOVIBLE</option>
              <option>PRÓTESIS TOTAL</option>
              <option>PRÓTESIS FIJA</option>
              <option>PUENTE FIJO</option>
              <option>SELLANTE</option>
            </select>
          </div>
        </div>
        <button type="button" class="btn btn-primary mt-2">Guardar</button>
      </form>
    </div>
  </div>

  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
<router-outlet></router-outlet>

