<div class="container-fluid" id="container-height">
  <app-menu></app-menu>
  <br><br><br><br>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h2>Cambiar Contraseña</h2>
      <br>
      <form class="form-horizontal" id="changepasswd" method="post" action="" role="form">
        <div class="form-group">
          <label for="inputEmail1" class="col-lg-4 control-label">Contraseña Actual</label>
          <div class="col-lg-8">
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña Actual">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword1" class="col-lg-4 control-label">Nueva Contraseña</label>
          <div class="col-lg-8">
            <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Nueva Contraseña">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword1" class="col-lg-4 control-label">Confirmar Nueva Contraseña</label>
          <div class="col-lg-8">
            <input type="password" class="form-control" id="confirmnewpassword" name="confirmnewpassword" placeholder="Confirmar Nueva Contraseña">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
