.card{
  border : none;
  text-align: center;
}


.carousel-caption{
  background-color: hsl(197, 100%, 45%,0.6);
  margin-bottom: 5%;
  width: 40%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  text-align: left;
  color: #00171F;
}
.carousel-indicators li:hover{

  cursor: pointer;
}
.nav-link{
  pointer-events:auto
}
.carousel-indicators li{
  background-color: hsl(197, 100%, 45%,1);
  z-index: 1010;
}
#toast-container > .toast-info {
  color: hsl(197, 100%, 45%,1);
background-image: url("../resources/img/send.png") !important;
  background-color: white; 
   /* background-color: hsl(197, 100%, 45%,1); */
}

.carousel-indicators li.active{
  background-color: #00171F;

}
.tm-top-bar{
  position: fixed;
}
p.card-text+a{
  color: hsl(197, 100%, 45%,1);
}
.textCard{
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: hsl(197, 100%, 45%,1);
}

.textMap{
  text-align: left;
  font-size: 3em;
  font-weight: bold;
  color: hsl(197, 100%, 45%,1);
}
.imgCar{
  height: auto;
}
#notify{
  z-index: 999; width: 100%;
}
.toast-body{
  background-color: white;
}
@media screen and (max-width: 767.98px) {
    .carousel-indicators{
      display: none;
    }
    .tm-top-bar{

      position: sticky;
    }
    .textMap{
      text-align: center;
    }
    
 }
