<div class="container-fluid" id="container-height">
  <app-menu></app-menu>
  <!-- paso a paso -->
      <!--button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Asunto</ng-template>
            <mat-form-field>
              <input matInput placeholder="Asunto" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Paciente</ng-template>
            <mat-form-field>
              <input matInput placeholder="Nombre Paciente" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Doctor</ng-template>
            <mat-form-field>
              <input matInput placeholder="Doctor" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fecha</ng-template>
            <mat-form-field>
              <input matInput placeholder="Fecha" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Hora</ng-template>
            <mat-form-field>
              <input matInput placeholder="Hora" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Hecho</ng-template>
          Completo
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button (click)="stepper.reset()">Enviar</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper--->
      <!-- fin paso a paso -->


      <div class="container-fluid">
          <div class="form-row">
              <div class="col-md-12 mb-4">
      <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Asunto</ng-template>
            <mat-form-field>
              <input matInput placeholder="Asunto" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Paciente</ng-template>
            <mat-form-field>
              <input matInput placeholder="Nombre Paciente" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Doctor</ng-template>
            <mat-form-field>
              <input matInput placeholder="Doctor" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fecha</ng-template>
            <mat-form-field>
              <input matInput placeholder="Fecha" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Hora</ng-template>
            <mat-form-field>
              <input matInput placeholder="Hora" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Hecho</ng-template>
          Completo
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button (click)="stepper.reset()">Enviar</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      </div>
      </div>
      </div>



	<!--div class="container-fluid">
		<div class="col-md-12">
			<h1 class="text-center">Nueva Cita</h1>
		</div>
		<br>
		<form>
			<div class="form-row">
				<div class="col-md-12 mb-4">
					<label for="validationDefault01">Asunto</label>
					<input type="text" class="form-control" id="validationDefault01" placeholder="Asunto" value="" required>
				</div>

        
      </div>
      
      
      <div class="form-row">
          <div class="col-md-12 mb-4">
              <label for="validationDefault02">Paciente</label>
              <select name="pacient_id" id="validationDefault02" class="form-control" required>
                <option value="">-- SELECCIONE --</option>
                <option value=""></option>
              </select>
            </div>

        
			</div>

      <div class="form-row">

				<div class="col-md-12 mb-4">
          <label for="validationDefault03">Médico</label>
          <select name="medico_id" id="validationDefault03" class="form-control" required>
            <option value="">-- SELECCIONE --</option>
            <option value=""></option>
          </select>
        </div>
        
			</div>
			<div class="form-row">
				<div class="col-md-6 mb-4">
					<label for="validationDefault04">Fecha</label>
          <input type="date" id="validationDefault04" name="date_at" required class="form-control"  placeholder="Fecha">
				</div>
				<div class="col-md-6 mb-4">
					<label for="validationDefault05">Hora</label>
          <input type="time" id="validationDefault05" name="time_at" required class="form-control"  placeholder="Hora">
				</div>
      </div>
      <br>
			<button class="btn btn-primary mx-auto d-flex justify-content-center" type="submit">Guardar Cita</button>
		</form>
	</div>
</div-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
<router-outlet></router-outlet>
