<div>
<a class="button parallelogram" href="/home">
  <span class="skew-fix">HOME</span>
</a>


<div class="bounce">
  <span class="letter">N</span>
  <span class="letter"><img src='https://www.seekpng.com/png/full/35-352856_teeth-cleaning-whitening-dental-clinic-flex-board-design.png' id="diente" style="height: 150px" class="img" ></span>
  <span class="letter">T</span>
  <span class="letter">-</span>
  <span class="letter">F</span>
  <span class="letter">O</span>
  <span class="letter">U</span>
  <span class="letter">N</span>
  <span class="letter">D</span>
</div>


</div>
<router-outlet></router-outlet>
