/*https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8*/
.fondo-login {
  background-image: url('./../resources/img/bg-01.jpg');
}
.logo-login{
  width: 60%;
}
.fakeimg {
  height: 200px;
  background: #aaa;
}

.li-ocultar {
  display: none;
}

#foto-perfil {
  width: 2em;
}

#perfil {
  margin-right: 105px;
}

.color-text-vivid {
  color: #00A8E8;
}

.color-text-celurean {
  color: #007EA7;
}

#footer-text {
  color: white;

}
#footer-text p a {
  color: #00A8E8;
  text-decoration: none;
}

.text-menu:hover {
  text-decoration: none;
}

.card-body:hover{
  color: #00A8E8;
  background-color: #00171F;
  font-weight: bold;
}

.card-menu {
  width: 120px;
  font-size: 15px;
}

#card-odontograma {
  width: 250px;
}
@media screen and (max-width: 600px) {
  .li-ocultar {
    display: inline;
  }

  #menu {
    display: none;
  }

}
