<div class="container-fluid">
  <app-menu></app-menu>
  <div class="row">
    <div class="col-md-5 ml-3">
      <app-estadisticas></app-estadisticas>
      <app-estadistica-dona></app-estadistica-dona>
    </div>
    <div class="col-md-6 mt-3">
      <h1>Sistema de Citas Medicas</h1>
      <p>Bienvenido a <b>SIS Medic TBS</b> un Sistema de Citas Médicas útil para consultorios médicos y/o médicos independientes.</p>
      <p>Características:</p>
      <ul>
        <li>Gestión de Citas</li>
        <li>Gestión de Médicos</li>
        <li>Gestión de Pacientes</li>
        <li>Gestión de Usuarios con Acceso al Sistema</li>
        <li>Creación de Usuarios</li>
        <li>Historial de Citas por Paciente</li>
        <li>Historial de Citas por Medico</li>
        <li>Buscador avanzado por: Palabra clave, medico, paciente y fecha.</li>
        <li>Almacenamiento de Exámenes y Radiografías: Ver, Modificar y Eliminar</li>
        <li>Odontograma por paciente</li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</div>
