<!DOCTYPE html>
<html lang="es">
<head>
  <title>Sis Medic - TBS</title>
  <meta charset="utf-8">
  <meta name="author" content="Tech Brain Solutions">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link rel="icon" href="resources/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="./assets/css/style-home.css" media="screen">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</body>
</html>
